{
   "Metrics": ["EvalOneToMany.py"],
   "Implementations": ["VD0parser.py", "VD0linker.py", "hist0parser.py", "VD0linker.py", 
   "VD0parser.py", "W2V0linker.py", "hist0parser.py", "W2V0linker.py", "IMG0parser.py", "VD0linker.py",
   "IMG0parser.py","W2V0linker.py"],
   "Files": ["../../images"],
   "Output": ["../../output/segment", "../../output/eval"]
}
